<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        <img
            src="/smoothie.png"
            alt=""
        />
    </div>
    <div class="headings">
        <h2>Welcome to Home Page</h2>
        <a
            href="/restricted"
            class="btn"
            >View Restricted Information</a
        >
        <a
            href="/auth/logout"
            class="btn"
            >Logout</a
        >
    </div>
</header>

<%- include('partials/footer'); -%>
