<%- include('partials/header'); -%>

<form class="login">
    <h2>Login</h2>
    <label for="email">Email</label>
    <input
        type="text"
        name="email"
        required
    />
    <div class="email error"></div>
    <label for="password">Password</label>
    <input
        type="password"
        name="password"
        required
    />
    <div class="password error"></div>
    <button>Login</button>
    <ul class="oauth">
        <li>
            <button
                title="Continue with Google"
                class="google"
                type="button"
            >
                <img
                    src="/google.png"
                    alt="Google"
                />
            </button>
        </li>
        <li>
            <button
                title="Continue with Github"
                class="github"
            >
                <img
                    src="/github.png"
                    alt="Github"
                />
            </button>
        </li>
        <li>
            <button
                title="Continue with Linkedin"
                class="linkedin"
            >
                <img
                    src="/linkedin.png"
                    alt="Linkedin"
                />
            </button>
        </li>
    </ul>
</form>

<%- include('partials/footer'); -%>

<script src="/index.js"></script>
