<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        <img
            src="/smoothie.png"
            alt=""
        />
    </div>
    <div class="headings">
        <h2>RESTRICTED END POINT</h2>
        <h3>You are an Authenticated User</h3>
    </div>
</header>

<%- include('partials/footer'); -%>
